.botao {
    background-color: #6278F7;
    padding: 32px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    color: #FFF;
}

.botao:hover{
    color: #95FFD4;
}